@import "tailwindcss";

:root {
  --medaide: #ff385c;
  --medaide-dark: #d50027;
}

@theme inline {
  --color-medaide: var(--medaide);
  --color-medaide-dark: var(--medaide-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --medaide: #d50027; /* Dark mode color */
    --medaide-dark: #ff385c; /* Dark mode color */
  }
}


h1 {
  color: var(--color-medaide);
}

p {
  color: var(--color-medaide-dark);
}
