@import "tailwindcss";


:root {
  --medaide: #ff385c;
  --medaide-dark: #d50027;
}

@theme inline {
  --color-medaide: var(--medaide);
  --color-medaide-dark: var(--medaide-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --medaide:  #ff385c; 
    --medaide-dark: #d50027; 
  }
}


